body {
  background-color: #FFFFFF;
  padding: 20px;
  margin: 0;
  padding-left: 0;
}
div.flexBox {
  display: flex;
  flex-direction: row;
}
div.insideBox {
  padding: 20px;
  display: block;
}
div.centerInsideBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.bottomBox {
  position: fixed;
  bottom: 0;
  right: 100px;
}
div.note {
  background-color: #EFEFEF;
  border-bottom: 3px solid #FF7707;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  display: flex;
  margin: 10px;
}
div.leftNote {
  width: calc(100% - 100px);
}
div.rightNote {
  width: 100px;
}
div.button {
  background-color: #FF7707;
  color: #FFFFFF;
  font-family: sans-serif;
}
input.button {
  background-color: #FF7707;
  color: #FFFFFF;
  font-family: sans-serif;
}
input.inactiveButton {
  background-color: rgb(255, 119, 7, 0.5);
  color: #FFFFFF;
  font-family: sans-serif;
}
div.shareButton {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 25px;
  width: 70px;
}
input.submitButton {
  border-radius: 10px;
  border-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 95px;
  font-size: 17px;
  text-align: center;
}
p.BlackAndWhite {
  -webkit-filter: grayscale(100%);
   filter: grayscale(100%);
}
div.offerBox {
  border-radius: 10px;
  transition: box-shadow 0.5s;
  display: flex;
  margin: 10px;
}
div.offerBox:hover {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}
div.priceBox {
  text-align: right;
}
p, h3 {
  margin: 0;
}
p.newPrice {
  font-size: 25px;
}
p.oldPrice {
  font-size: 20px;
  color: #AEAEAE;
  text-decoration: line-through;
}
p.gray {
  color: #5F5F5F;
}
p.red {
  color: #E32020;
}
p.smallText {
  font-size: 14px;
}
img {
  max-width: 100%;
}
img.bigPhone {
  display: block;
  width: 283px;
  height: 494px;
  align-self: center;
}
#leftBox {
  border-right: 1px solid #DDDDDD;
  width: 260px;
  min-height: 500px;
  max-height: 600px;
}
#rightBox {
  border-left: 1px solid #DDDDDD;
  width: 260px;
  min-height: 500px;
  max-height: 600px;
}
#centerBox {
  width: calc(100% - 520px);
  min-height: 500px;
  max-height: 600px;
  overflow-y: scroll;
}

h1, h2, h3, p, ul, li {
  font-family: sans-serif;
}
h1, h2 {
  color: #292929;
}
.center {
  text-align: center;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #EFEFEF;
  border-bottom: 3px solid #FF7707;
  padding: 0;
}
ul.header li a.active {
  background-color: #FF770F;
  color: #FFFFFF;
}
ul.header li a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
input {
  margin-top: 20px;
	height: 30px;
	font-size: 20px;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 1px solid black;
}
label.agreeLabel {
  font-family: sans-serif;
  margin-left: 2em;
  display: block;
  position: relative;
  margin-top: -1.65em;
  line-height: 1.4em;
  font-size: 14px;
}
#privacyPolicyLink {
  color: #000000;
  font-decoration: underline;
  font-weight: bold;
}
#privacyPolicyLink:visited {color: #000000;}
div.wholeScreen {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;
  justify-content: center;
  text-align: center;
}
